* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(7, 136, 223);
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: rgb(6, 10, 223);
    border-bottom: 4px solid rgb(6, 20, 223);
    padding-bottom: 7px;
    font-weight: bold;
}

.display {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 10px;
}

.display img {
    width: 30px;
    cursor: pointer;
}

.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img {
    width: 30px;
    margin-right: 10px;
    filter: invert(1);
}

.container button {
    border: 0;
    outline: 0;
    background: black;
    color: white;
    font-size: 22px;
    font: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 10px;
    cursor: pointer;
}

